<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
<array>
    <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
            <string>xls</string>
            <string>xlsx</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Excel Files</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Default</string>
    </dict>
</array>
<key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>
<key>NSDocumentsUsageDescription</key>
<string>We need access to your files for selecting and processing data.</string>
<key>NSFileProviderUsageDescription</key>
<string>We need access to your files to work with documents stored in the Files app.</string>

	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>file</string>
		<string>files</string>
	</array>
	<key>NSDocumentDirectoryUsageDescription</key>
<string>We need access to files and folders for [your app's functionality].</string>
	<key>NSDocumentsUsageDescription</key>
	<string>We need access to your files for selecting and processing data.</string>
	<key>NSFileProviderUsageDescription</key>
	<string>We need access to your files to work with documents stored in the Files app.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
